{% extends 'base.html.twig' %}

{% block title %}Liste des adresses{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="container text-center col-1 order-1 text-black-50 text-monospace">
            <h1 class="vertical">liste des adresses</h1>
        </div>
    </div>

{% endblock %}
{##}
{% block javascripts %}
    {{ parent() }}
{% endblock %}